.example-card {
  max-width: 90%;
  margin: 10px 0px 10px 0px;
}

.example-header-image {
  background-size: cover;
  width: 100px;
  height: 100px;
}
.container-spacing {
  margin-top: 10px;
  margin-left: 125px;
}

.imagem-back {

}
.btn-concluir{
  margin-right: 145px;
}
