.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.container-spacing {
  margin-top: 10px;
  flex-wrap: wrap;
}

.card {
  margin: 10px 0 10px 0;
}

.image-pokemon {
  width: 360px;
}
