<div class="container container-spacing" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div fxFlex="20%" class="card" *ngFor="let pokemon of pokemons">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{pokemon._name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image class="image-pokemon" src="{{pokemon._images[2]}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="botaoClick(pokemon)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
