<mat-toolbar>
  <span>ECOM POKEMON</span>
  <span class="example-spacer"></span>

  <button mat-icon-button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="redirectOrder()">
    <mat-icon (onclick)="this.redirectOrder()">reorder</mat-icon>
  </button>
  <button mat-icon-button  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="redirectCart()">
    <mat-icon matBadge={{pokemonsCart}} matBadgeColor="warn" (onclick)="this.redirectCart()">shopping_cart</mat-icon>
  </button>
</mat-toolbar>
